@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  body {
    background-color: #fefcf7;
    margin: 0;
    padding: 0;
  }
  h1,
  h2,
  h3,
  h4 {
    font-family: "Fraunces", "serif";
  }

  p {
    font-family: "Barlow", "sans-serif";
  }

  .gradient-text {
    background: linear-gradient(#83888f, #fefcf7);
  }

  .max-container {
    @apply max-w-[1280px] w-[90%] mx-auto;
  }

  /* Hero BG Image */
  .hero {
    background-image: url("./assets/home/mobile/image-hero-coffeepress.jpg");
    background-position: center;
    background-size: cover;
    background-color: #333d4b;
  }

  @media screen and (min-width: 768px) {
    .hero {
      background-image: url("./assets/home/tablet/image-hero-coffeepress.jpg");
    }
  }

  /* ABOUT HERO IMG */
  .about-hero {
    background-image: url("./assets/about/mobile/image-hero-whitecup.jpg");
    background-position: center;
    background-size: cover;
    background-color: #333d4b;
  }

  @media screen and (min-width: 768px) {
    .about-hero {
      background-image: url("./assets/about/tablet/image-hero-whitecup.jpg");
    }
  }

  @media screen and (min-width: 1280px) {
    .about-hero {
      background-image: url("./assets/about/desktop/image-hero-whitecup.jpg");
    }
  }

  .quality-img {
    background-image: url("./assets/about/mobile/bg-quality.png");
    background-position: center;
    background-size: cover;
    background-color: #333d4b;
  }

  /* PLAN HERO IMG */
  .plan-hero {
    background-image: url("./assets/plan/mobile/image-hero-blackcup.jpg");
    background-position: center;
    background-size: cover;
    background-color: #333d4b;
  }

  @media screen and (min-width: 768px) {
    .plan-hero {
      background-image: url("./assets/plan/tablet/image-hero-blackcup.jpg");
    }
  }

  @media screen and (min-width: 1280px) {
    .plan-hero {
      background-image: url("./assets/plan/desktop/image-hero-blackcup.jpg");
    }
  }

  /* Modal */
  .modal {
    background-color: rgba(0, 0, 0, 0.3);
  }

  /* Grid */
  .grid-custom {
    grid-template-columns: 255px 1fr;
  }

  /* Custome Radio Input */
  .custom-radio:checked + .custom-radio-label::after {
    content: "";
    display: block;
    width: 12px;
    height: 12px;
    background-color: black;
    border-radius: 2px;
    position: absolute;
    top: 2px;
    left: 2px;
  }

  .disable-scroll {
    overflow: hidden;
  }
}
